@model I_RAY_ASSET_TRACKER_MVC.Models.WorkingAssetListModel

@{
    ViewBag.Title = "WorkingAssetList";
    Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
}

<style>
    .row {
        margin-top: 2rem;
    }

    #partialContainer {
        margin-top: 2rem;
    }
</style>

<script>
    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#AssetBelongsTo").on("change", function () {
            var assetBelongsToselectedValue = $(this).val();
            $('#AssetType').empty();
            $('#AssetType').append("<option>-- Select --</option>");
            $('#Team').empty();
            $('#Team').append("<option>-- Select Team --</option>");
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/AssetBelongsLoadPartialView", // Replace with your controller and action method
                data: { assetBelongsToselectedValue: assetBelongsToselectedValue },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container               
                }
            });

            if ($('#AssetBelongsTo').val() != "--Select Assets Belongs To--")
            {
                if ($('#AssetBelongsTo').val() == "")
                {
                    $('#AssetType').empty();
                    $('#AssetType').append("<option>-- Select --</option>");
                    var Options = {};
                    Options.url = "/WorkingAssetList/AssetTeam";
                    Options.type = "POST";
                    Options.datatype = "json";
                    Options.contentType = "application/json";
                    Options.success = function (result) {
                        $('#Team').empty();
                        $('#Team').append("<option>-- Select Team --</option>");
                        for (var i = 0; i < result.length; i++) {
                            /* debugger;  */
                            $('#Team').append("<option>" + result[i] + "</option>");
                        }
                        $('#Team').prop("disabled", false);
                    };
                    Options.error = function () {
                        alert("Error in Getting AssetTypes!!");
                    };
                    $.ajax(Options);
                }
                else
                {
                    var RequestRaisedOptions = {};
                    RequestRaisedOptions.url = "/WorkingAssetList/AssetType";
                    RequestRaisedOptions.type = "POST";
                    RequestRaisedOptions.datatype = "json";
                    RequestRaisedOptions.contentType = "application/json";
                    RequestRaisedOptions.success = function (result)
                    {
                        $('#AssetType').empty();
                        $('#AssetType').append("<option>-- Select --</option>");
                        for (var i = 0; i < result.length; i++) {
                            /* debugger;  */
                            $('#AssetType').append("<option>" + result[i] + "</option>");
                        }
                        $('#AssetType').prop("disabled", false);
                    };
                    RequestRaisedOptions.error = function ()
                    {
                        alert("Error in Getting AssetTypes!!");
                    };
                    $.ajax(RequestRaisedOptions);

                    var Options = {};
                    Options.url = "/WorkingAssetList/AssetTeam";
                    Options.type = "POST";
                    Options.datatype = "json";
                    Options.contentType = "application/json";
                    Options.success = function (result) {
                        $('#Team').empty();
                        $('#Team').append("<option>-- Select Team --</option>");
                        for (var i = 0; i < result.length; i++) {
                            /* debugger;  */
                            $('#Team').append("<option>" + result[i] + "</option>");
                        }
                        $('#Team').prop("disabled", false);
                    };
                    Options.error = function () {
                        alert("Error in Getting AssetTypes!!");
                    };
                    $.ajax(Options);
                }
            }
            else
            {
                $('#AssetType').empty();
                $('#AssetType').prop("disabled", true);
                var Options = {};
                Options.url = "/WorkingAssetList/AssetTeam";
                Options.type = "POST";
                Options.datatype = "json";
                Options.contentType = "application/json";
                Options.success = function (result) {
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#Team').append("<option>" + result[i] + "</option>");
                    }
                    $('#Team').prop("disabled", false);
                };
                Options.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(Options);
            }
        });
    });

    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#AssetType").on("change", function () {
            var assetBelongsToselectedValue = $("#AssetBelongsTo").val();
            var assetType = $(this).val();
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/AssetTypeLoadPartialView", // Replace with your controller and action method
                data: {
                    assetType: assetType,
                    assetBelongsToselectedValue: assetBelongsToselectedValue
                },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container
                }
            });
            if ($('#AssetType').val() != "-- Select --") {
                var RequestRaisedOptions = {};
                RequestRaisedOptions.url = "/WorkingAssetList/AssetTeam";
                RequestRaisedOptions.type = "POST";
                RequestRaisedOptions.datatype = "json";
                RequestRaisedOptions.contentType = "application/json";
                RequestRaisedOptions.success = function (result) {
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#Team').append("<option>" + result[i] + "</option>");
                    }
                    $('#Team').prop("disabled", false);
                };
                RequestRaisedOptions.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(RequestRaisedOptions);
            }
            else {
                var RequestRaisedOptions = {};
                RequestRaisedOptions.url = "/WorkingAssetList/AssetTeam";
                RequestRaisedOptions.type = "POST";
                RequestRaisedOptions.datatype = "json";
                RequestRaisedOptions.contentType = "application/json";
                RequestRaisedOptions.success = function (result) {
                    $('#Team').empty();
                    $('#Team').append("<option>-- Select Team --</option>");
                    for (var i = 0; i < result.length; i++) {
                        /* debugger;  */
                        $('#Team').append("<option>" + result[i] + "</option>");
                    }
                    $('#Team').prop("disabled", false);
                };
                RequestRaisedOptions.error = function () {
                    alert("Error in Getting AssetTypes!!");
                };
                $.ajax(RequestRaisedOptions);
            }
        });
    });

    $(document).ready(function () {
        // Attach an event listener to the dropdown change event
        $("#Team").on("change", function () {
            var assetBelongsToselectedValue = $('#AssetBelongsTo').val();
            var assetTypeselectedValue = $('#AssetType').val();
            var teamselectedValue = $(this).val(); // Get the selected value from the dropdown
            var partialContainer = $("#partialContainer"); // Get the target container

            // Use AJAX to load the partial view content into the container
            $.ajax({
                url: "/WorkingAssetList/LoadPartialView", // Replace with your controller and action method
                data: {
                    teamselectedValue: teamselectedValue,
                    assetTypeselectedValue: assetTypeselectedValue,
                    assetBelongsToselectedValue: assetBelongsToselectedValue
                },
                success: function (result) {
                    partialContainer.html(result); // Load the content into the container
                }
            });
        });
    });


    $(document).ready(function () {
        $(".btnSearchSubmit").click(function () {
            var serialNoInvoiceNo = $("#SerilaNoInvoiceNo").val();
            var partialContainer = $("#partialContainer");
            $.ajax({
                type: "POST",
                url: "/WorkingAssetList/SearchSerialNoInvoiceNo",
                data: { serialNoInvoiceNo: serialNoInvoiceNo },
                success: function (response) {
                    partialContainer.empty();
                    partialContainer.html(response);
                    partialContainer.show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });

    $(document).ready(function () {
        $(".btnHWSWNameSearchSubmit").click(function () {
            var HWSWName = $("#HWSWName").val();
            var partialContainer = $("#partialContainer");
            $.ajax({
                type: "POST",
                url: "/WorkingAssetList/SearchHWSWName",
                data: { HWSWName: HWSWName },
                success: function (response) {
                    partialContainer.empty();
                    partialContainer.html(response);
                    partialContainer.show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });

    function DisplayProgressMessage(ctl, msg) {
        var AssetBelongsTo = $('#AssetBelongsTo');
        var AssetType = $('#AssetType');
        var Team = $('#Team');
        if ((AssetBelongsTo.val() == "") && (AssetType.val() == "") && (Team.val() == "")) {
            alert("Please select.");
            return false;
        }
        return true;
        this.submit();
    }

    $(document).ready(function () {
        $("#HWSWName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/WorkingAssetList/AutoCompleteHWSWName',
                    type: 'GET',
                    dataType: 'json',
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1 // Adjust as needed
        });
    });
</script>

<div class="pagetitle">
    <h1>Working Asset-List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Working Asset-List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

@using (Html.BeginForm("PDFReport", "WorkingAssetList", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.AssetBelongsTo, new SelectList(new[] { "i-ray Asset", "Client Asset" }), "--Select Assets Belongs To--", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.AssetType, Enumerable.Empty<SelectListItem>(), "-- Select --", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Team, (IEnumerable<SelectListItem>)ViewData["Team"], "-- Select Team --", new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <button type="submit" class="button btn btn-primary" onclick="return DisplayProgressMessage(this, 'Generate...');">
                <i class="fas fa-fw fa-file-pdf"></i>
                <span>PDF</span>
            </button>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <span>SerialNo/InvoiceNo : </span>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.SerilaNoInvoiceNo, new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        <button id="" type="button" class="btnSearchSubmit button btn btn-primary">
            Search
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <span>HWSWName/DeviceName : </span>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.HWSWName, new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        <button type="button" class="btnHWSWNameSearchSubmit button btn btn-primary">
            Search
        </button>
    </div>
</div>

<div id="partialContainer">

</div>