@{
    var username = Session["EmployeeName"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link href="~/Images/Icon/I-Ray-Logo.png" rel="shortcut icon" type="image/x-icon">
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Animation styles for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Data Table styles for this template-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
       /* .btn {
            box-shadow: 0px 0px 5px 2px #ffc107 !important;
        }*/

        .assign-progress-bg {
            background-color: lightgray;
            opacity: 0.8;
        }

        .assign-progress {
            position: fixed;
            top: 50%;
            left: 50%;
            height: 6em;
            padding-top: 2.3em;
            z-index: 1;
            /* The following properties are the ones most likely to change */
            width: 20em;
            /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
            margin-left: -10em;
            padding-left: 2.1em;
            background-color: #1161ee;
            color: #fff;
            -webkit-border-radius: 0.4em;
            -moz-border-radius: 0.4em;
            border-radius: 0.4em;
            box-shadow: 0px 0px 10px 2px #ffc107;
            -webkit-box-shadow: 0px 0px 10px 2px #ffc107;
            -moz-box-shadow: 0px 0px 10px 2px #ffc107;
        }
        /* Changing style for spinner */
        .assign-progress {
            padding-top: 2em;
            width: 25em;
            margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
        }

            .assign-progress i {
                margin-right: 0.5em;
            }

        span.employeename {
            color: #ffc107;
            margin-right: 10px;
        }
    </style>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            // Hide the spinner overlay when the page is fully loaded
            $("#spinner-overlay").delay(3000).fadeOut("slow");
        });

        //function DisplayLoadMessage(ctl, msg) {
        //    // Turn off the "Save" button and change text
        //    $(ctl).prop("disabled", true).text(msg);
        //    // Gray out background on page
        //    $("body").addClass("assign-progress-bg");

        //    // Wrap in setTimeout so the UI can update the spinners
        //    setTimeout(function () {
        //        $(".assign-progress").removeClass("visually-hidden");
        //    }, 1);
        //    $(ctl).prop("disabled", false).text(msg);
        //    return true;
        //}
    </script>
</head>
<body id="page-top">

    <div id="spinner-overlay">
        <img height="200" width="200" src="~/Images/Icon/lodinggif.gif" alt="Loading..." />
    </div>

    @*<div class="assign-progress visually-hidden">
            <i class="fa fa-2x fa-cog fa-spin fa-fw"></i>
            <label>Please wait while loding the data...</label>
        </div>*@

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Admin/Index">
                @*<div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">@Session["username"]</div>*@
                <img class="logoAnimation" src="~/Images/Icon/i-Ray_logo.png" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="~/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <li class="nav-item">
                <a id="linkId" class="nav-link collapsed" onclick="return DisplayLoadMessage(this, 'Asset Entry...');" href="~/AssetEntry/Index"
                   aria-expanded="true">
                    <i class="fas fa-plus-circle"></i>
                    <span>Asset Entry</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/WorkingAssetList/Index"
                   aria-expanded="true">
                    <i class="fa fa-window-restore"></i>
                    <span>Working Asset-List</span>
                </a>
            </li>

            <li class="nav-item">
                <a id="employeeEntryId" class="nav-link collapsed" data-toggle="modal" data-target="#EmployeeEntryModal" href="javascript:void(0);"
                   aria-expanded="true">
                    <i class="fas fa-user-plus"></i>
                    <span>Employee Entry</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="return DisplayLoadMessage(this, 'Asset Requesting...');" href="~/AssetTracker/Index"
                   aria-expanded="true">
                    <i class="fa fa-share"></i>
                    <span>Asset Request</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a id="myRequestListId" class="nav-link collapsed" data-toggle="modal" data-target="#myRequestListModal" href="javascript:void(0);"
                   aria-expanded="true">
                    <i class="fa fa-chart-line"></i>
                    <span>My Request-List</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/EmployeeList/Index"
                   aria-expanded="true">
                    <i class="fa fa-chart-line"></i>
                    <span>Employee-List</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AttendanceList/Index"
                   aria-expanded="true">
                    <i class="fa fa-chart-line"></i>
                    <span>Attendance-List</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" onclick="return DisplayLoadMessage(this, 'Asset Assigning...');" href="~/AssignAsset/Index"
                   aria-expanded="true">
                    <i class="fa fa-check-circle"></i>
                    <span>Assign-Asset</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AssetTracking/Index"
                   aria-expanded="true">
                    <i class="fa fa-search"></i>
                    <span>Asset Tracking</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/UpdateAsset/Index"
                   aria-expanded="true">
                    <i class="fa fa-hand-point-right"></i>
                    <span>Update Asset</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AllocationList/Index"
                   aria-expanded="true">
                    <i class="fa fa-list-alt"></i>
                    <span>Allocation List</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AssetDeallocation/Index"
                   aria-expanded="true">
                    <i class="fa fa-undo"></i>
                    <span>Asset Deallocation</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/Reports/Index"
                   aria-expanded="true">
                    <i class="fa fa-file"></i>
                    <span>Reports</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/NotificationManager/Index"
                   aria-expanded="true">
                    <i class="fa fa-bell"></i>
                    <span>Notification Manager</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/NotWorkingAssetList/Index"
                   aria-expanded="true">
                    <i class="fa fa-hand-holding"></i>
                    <span>Not Working Asset List</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AssetClearanceLetter/Index"
                   aria-expanded="true">
                    <i class="fa fa-file"></i>
                    <span>Asset Clearance Letter</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AuditReport/Index"
                   aria-expanded="true">
                    <span>Assets Review</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/AssetsReviewReports/Index"
                   aria-expanded="true">
                    <i class="fa fa-file"></i>
                    <span>Assets Review Reports</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">@Session["totalAssignRequests"]</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                @foreach (var item in ViewBag.MyList)
                                {
                                    <a class="dropdown-item d-flex align-items-center" href="~/AssignAsset/Index">
                                        <div class="mr-3">
                                            @*<div class="icon-circle bg-primary">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>*@
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">@item.RequestDate</div>
                                            <span class="font-weight-bold">The employee @item.EmpName from the @item.EmpTeam team has requested an asset.!</span>
                                        </div>
                                    </a>
                                }

                                @*<a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>*@
                                <a class="dropdown-item text-center small text-gray-500" href="~/AssignAsset/Index">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="employeename">@username</span>
                                <img class="img-profile rounded-circle"
                                     src="~/Content/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <a id="ChangePasswordID" class="dropdown-item" data-toggle="modal" data-target="#ChangePasswordModal" href="javascript:void(0);">
                                    <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">-->
                    @*Dashboard*@
                    <!--</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>
                    </div>-->

                    <div class="row">
                        @RenderBody()
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <p>&copy; @DateTime.Now.Year - Designd by : I-RAY IT SOLUTIONS</p>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="button btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true">Cancel</i></button>
                    <a class="btn btn-primary" href="~/UserLogin/Signout"><i class="fa fa-sign-out-alt" aria-hidden="true">Logout</i></a>
                </div>
            </div>
        </div>
    </div>

    @*------------------Modal PopUp For Employee Entry------------------------*@

    <div id="EmployeeEntryModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="EmployeeEntryModalLable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="pagetitle">
                        <h1>Employee Entry</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Employee Entry</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true">Close</i></button>
                </div>
            </div>
        </div>
    </div>


    @*------------------Modal PopUp For My Request List------------------------*@
    <div id="myRequestListModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="myRequestListModalLable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="pagetitle">
                        <h1>My Request-List</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">My Request-List</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true">Close</i></button>
                </div>
            </div>
        </div>
    </div>

    @*------------------Modal PopUp For Change Password------------------------*@
    <div id="ChangePasswordModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="ChangePasswordModalLable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="pagetitle">
                        <h1>Change Password</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Change Password</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true">Close</i></button>
                    <a id="btnChangePasswordId" class="button btn btn-primary" href="#">Change Password</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Chart-->
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    <!--  Data Table Scripts -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <!-- Auto complete textbox scripts -->
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>

    <script>
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };

        $(function () {
            $("#employeeEntryId").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/EmployeeEntry/Index",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#EmployeeEntryModal").find(".modal-body").html(response);
                        $("#EmployeeEntryModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $(function () {
            $("#myRequestListId").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/MyRequestList/Index",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#myRequestListModal").find(".modal-body").html(response);
                        $("#myRequestListModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $(function () {
            $("#ChangePasswordID").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/ChangePassword/Index",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#ChangePasswordModal").find(".modal-body").html(response);
                        $("#ChangePasswordModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $(function () {
            $("#btnChangePasswordId").click(function () {
                var NewPassword = $('#NewPassword').val();
                var ConfirmPassword = $('#ConfirmPassword').val();
                if (NewPassword == '') {
                    alert('Please Enter the New Password.');
                    return false;
                }
                if (ConfirmPassword == '') {
                    alert('Please Enter the Confirm Password.');
                    return false;
                }
                if (NewPassword === ConfirmPassword) {
                    alert('Passwords match!');
                }
                else {
                    alert('Passwords do not match!');
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/ChangePassword/PasswordChangedDetails",
                    data: {
                        NewPassword: NewPassword,
                        ConfirmPassword: ConfirmPassword
                    },
                    success: function (response) {
                        alert(response);
                        $('.btn-secondary').click();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
