@model List<I_RAY_ASSET_TRACKER_MVC.Models.AssetRemarksModel>

<style>
    #tblAssetRemarks th {
        background-color: #ffc107;
    }
    tr {
        text-align: center;
    }
</style>
<script>
   /* debugger;*/
    $(document).ready(function () {
        $('.btn').click(function () {
         /*   debugger;*/
            var row = $(this).closest('tr');
            var EmployeeName = row.find('td:eq(0)').text();
            var Team = row.find('td:eq(2)').text();
            var Assetbelongsto = row.find('td:eq(3)').text();
            var AssetType = row.find('td:eq(4)').text();
            var HWSWName = row.find('td:eq(5)').text();
            var SerialNumberVersionNumber = row.find('td:eq(6)').text();
            var AssignDate = row.find('td:eq(7)').text();
            var AssetRemarks = $("#item_AssetRemarks").val();
            $.ajax({
                type: "POST",
                url: "/AssetRemarks/SendMailReportToAM",
                data: {
                    EmployeeName: EmployeeName,
                    Team: Team,
                    Assetbelongsto: Assetbelongsto,
                    AssetType: AssetType,
                    HWSWName: HWSWName,
                    SerialNumberVersionNumber: SerialNumberVersionNumber,
                    AssignDate: AssignDate,
                    AssetRemarks: AssetRemarks
                },
                success: function (data) {
                    alert("Email sent successfully!");
                },
                error: function () {
                    alert("Error sending email");
                }
            })
        });
    });
</script>
<table id="tblAssetRemarks" class="display compact table table-bordered table-primary">
    <thead>
        <tr>
            <th>EmployeeName</th>
            <th>EmpID</th>
            <th>Team</th>
            <th>Assetbelongsto</th>
            <th>AssetType</th>
            <th>HWSWName</th>
            <th>SerialNumberVersionNumber</th>
            <th>AssignDate</th>
            <th>AssetRemarks</th>
            <th>Report[Emial]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="10">
                    No Matching Records Found
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmpID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Team)</td>
                    <td>@Html.DisplayFor(modelItem => item.Assetbelongsto)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssetType)</td>
                    <td>@Html.DisplayFor(modelItem => item.HWSWName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SerialNumberVersionNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssignDate)</td>
                    <td>@Html.TextAreaFor(modelItem => item.AssetRemarks)</td>
                    <td><button type="submit" class="btn btn-primary">ReportToAM</button></td>
                </tr>
            }
        }
    </tbody>
</table>
