@model I_RAY_ASSET_TRACKER_MVC.Models.UserModel

@*@using PagedList.Mvc*@

@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/UserDashBoardLayout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    .btn {
        box-shadow: 0px 0px 5px 2px #ffc107 !important;
    }

    #tblUserAssetsHaveList th {
        background-color: #ffc107;
    }

    #table1 th {
        background-color: #ffc107;
    }

    .card {
        --bs-card-spacer-y: 3rem;
        --bs-card-spacer-x: 3rem;
    }

    .text-xs {
        font-size: .85rem;
    }

    tr {
        text-align: center;
    }

    h4 {
        text-align: center;
        font-size: 2rem;
        padding-top: 3rem;
    }

    .transfer-progress-bg {
        background-color: lightgray;
        opacity: 0.8;
    }

    .transfer-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        z-index: 1;
        /* The following properties are the ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: #1161ee;
        color: #fff;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0px 0px 10px 2px #ffc107;
        -webkit-box-shadow: 0px 0px 10px 2px #ffc107;
        -moz-box-shadow: 0px 0px 10px 2px #ffc107;
    }
    /* Changing style for spinner */
    .transfer-progress {
        padding-top: 2em;
        width: 34em;
        margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
    }

        .transfer-progress i {
            margin-right: 0.5em;
        }
</style>

<script>
    $(document).ready(function () {
         $('#tblUserAssetsHaveList').DataTable();
        $('#table1').DataTable();
    });

    $(document).on('click', '.TransferAsset', function (e) {
        e.preventDefault();
        var table = $('#tblUserAssetsHaveList').DataTable();
        var data = table.row($(this).parents('tr')).data();
        $.ajax({
            url: "/User/TransferAsset", // Replace with your controller and action method
            data: {
                Id: data[0]
            },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#partialModal").find(".modal-body").html(response);
                $("#partialModal").modal('show');
            }
        });
    });

    //$(function () {
    //    $("#tblUserAssetsHaveList .TransferAsset").click(function () {
    //        var Id = $(this).closest("tr").find("td").eq(0).html();
    //        $.ajax({
    //            type: "POST",
    //            url: "/User/TransferAsset",
    //            data: '{Id: "' + Id + '" }',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "html",
    //            success: function (response) {
    //                $("#partialModal").find(".modal-body").html(response);
    //                $("#partialModal").modal('show');
    //            },
    //            failure: function (response) {
    //                alert(response.responseText);
    //            },
    //            error: function (response) {
    //                alert(response.responseText);
    //            }
    //        });
    //    });
    //});

    /* debugger;*/
    function DisplaySendProgressMessage(ctl, msg) {
        /* debugger;*/
        var AssetTransferTeam = $('#AssetTransferTeam');
        if (AssetTransferTeam.val() == '') {
            alert('Please select the Team.');
            return false;
        }
        var AssetTransferEmployeeName = $('#AssetTransferEmployeeName');
        if (AssetTransferEmployeeName.val() == '--Select EmployeeName--') {
            alert('Please select the EmployeeName.');
            return false;
        }

        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("transfer-progress-bg");

        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".transfer-progress").removeClass("visually-hidden");
        }, 1);
        $(ctl).prop("disabled", false).text(msg);
        return true;
        this.submit();
    }
</script>

<div class="pagetitle">
    <h1>DashBoard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DashBoard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <!-- Total Assets Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body animate__animated animate__zoomIn animate__delay-1s">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            What I Have?
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalAssetsUserHave</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-fw fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4>What I Have ?</h4>
</div>

<div class="row">
    <table id="tblUserAssetsHaveList" class="display compact table table-bordered table-primary">
        <thead>
            <tr>
                <th>Assign ID</th>
                <th>Employee Name</th>
                <th>Asset Belongs To</th>
                <th>Asset Type</th>
                <th>HWSW Name</th>
                <th>SerialNumber</th>
                <th>Assign Date</th>
                <th>Return Date</th>
                <th>Tranfer</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Table1Data.Count == 0)
            {
                <tr>
                    <td colspan="9">
                        No Matching Records Found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Table1Data)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.AssignID)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Assetbelongsto)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssetType)</td>
                        <td>@Html.DisplayFor(modelItem => item.HWSWName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SerialNumberVersionNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssignDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpectedReturnDate)</td>
                        <td>
                            <a class="TransferAsset button btn btn-primary" data-toggle="modal" data-target="#partialModal" href="javascript:void(0);">
                                Transfer
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<div class="pagination">
        Page @(Model.Table1Data.PageCount < Model.Table1Data.PageNumber ? 0 : Model.Table1Data.PageNumber)
        of @Model.Table1Data.PageCount @Html.PagedListPager(Model.Table1Data, page => Url.Action("Index", new { page }))
    </div>*@

<div class="row">
    <h4>Asset Transfred To?</h4>
</div>

<div class="row">
    <table id="table1" class="display compact table table-bordered table-primary">
        <thead>
            <tr>
                <th>From_EmpID</th>
                <th>From EmployeeName</th>
                <th>Asset Belongs To</th>
                <th>AssetType</th>
                <th>HWSW Name</th>
                <th>SerialNumber</th>
                <th>Asset TransferDate</th>
                <th>To_EmpID</th>
                <th>Team To Which Asset is Transfered</th>
                <th>ToEmployeeName</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Table2Data)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FromEmpID)</td>
                    <td>@Html.DisplayFor(modelItem => item.FromEmployeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Assetbelongsto)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssetType)</td>
                    <td>@Html.DisplayFor(modelItem => item.HWSWName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SerialNumberVersionNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssetTransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ToEmpID)</td>
                    <td>@Html.DisplayFor(modelItem => item.TeamToWhichAssetisTransfered)</td>
                    <td>@Html.DisplayFor(modelItem => item.ToEmployeeName)</td>
                    <td>
                        <a id="btnApprove" class="button btn btn-success" href="@Url.Action("SaveTransferAssetFromEmployee", "User", new { id = item.FromEmpID})">
                            Approve
                        </a>
                    </td>
                    <td>
                        <a class="button btn btn-danger" href="@Url.Action("RejectTransferAssetFromEmployee", "User", new { id = item.FromEmpID})">
                            Reject
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div class="pagination">
        Page @(Model.Table2Data.PageCount < Model.Table2Data.PageNumber ? 0 : Model.Table2Data.PageNumber)
        of @Model.Table2Data.PageCount @Html.PagedListPager(Model.Table2Data, page => Url.Action("Index", new { page }))
    </div>*@


@using (Html.BeginForm("SaveTransferAsset", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="partialModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="partialModalLable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title fs-5" id="partialModalLable">Asset Transfer to Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="return DisplaySendProgressMessage(this, 'Transfer...');" class="btn btn-primary">Transfer Asset</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}