
@using PagedList.Mvc
@model  PagedList.IPagedList<I_RAY_ASSET_TRACKER_MVC.Models.AssignAssetApproval>


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    if (Session["Role"].ToString() == "AssetManager")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "User")
    {
        Layout = "~/Views/Shared/UserDashBoardLayout.cshtml";
    }
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<style>
    h4 {
        font-size: 2rem;
    }

    .btn {
        box-shadow: 0px 0px 5px 2px #ffc107 !important;
    }

        .btn:active {
            transform: translateY(0.3rem);
        }

    #tblAssignAsset th {
        background-color: #ffc107;
    }

    tr {
        text-align: center;
    }

    .approve-progress-bg {
        background-color: lightgray;
        opacity: 0.8;
    }

    .approve-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        z-index: 1;
        /* The following properties are the ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: #1161ee;
        color: #fff;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0px 0px 10px 2px #ffc107;
        -webkit-box-shadow: 0px 0px 10px 2px #ffc107;
        -moz-box-shadow: 0px 0px 10px 2px #ffc107;
    }
    /* Changing style for spinner */
    .approve-progress {
        padding-top: 2em;
        width: 25em;
        margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
    }

        .approve-progress i {
            margin-right: 0.5em;
        }

    .reject-progress-bg {
        background-color: lightgray;
        opacity: 0.8;
    }

    .reject-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 2.3em;
        z-index: 1;
        /* The following properties are the ones most likely to change */
        width: 20em;
        /* Set 'margin-left' to a negative number that is 1/2 of 'width' */
        margin-left: -10em;
        padding-left: 2.1em;
        background-color: #1161ee;
        color: #fff;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0px 0px 10px 2px #ffc107;
        -webkit-box-shadow: 0px 0px 10px 2px #ffc107;
        -moz-box-shadow: 0px 0px 10px 2px #ffc107;
    }
    /* Changing style for spinner */
    .reject-progress {
        padding-top: 2em;
        width: 25em;
        margin-left: -11.5em; /* Set to a negative number that is 1/2 of the width */
    }

        .reject-progress i {
            margin-right: 0.5em;
        }

    /*  Pagination for List of Asset Request Details */

    .pagination {
        margin-block-start: revert;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .pagination-container {
        margin: auto;
    }

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function DisplayProgressMessageApproveAsset(ctl, msg) {
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("approve-progress-bg");

        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".approve-progress").removeClass("visually-hidden");
        }, 1);
        $(ctl).prop("disabled", false).text(msg);
        return true;
    }

    function DisplayProgressMessageRejectAsset(ctl, msg) {
        // Turn off the "Save" button and change text
        $(ctl).prop("disabled", true).text(msg);
        // Gray out background on page
        $("body").addClass("reject-progress-bg");

        // Wrap in setTimeout so the UI can update the spinners
        setTimeout(function () {
            $(".reject-progress").removeClass("visually-hidden");
        }, 1);
        $(ctl).prop("disabled", false).text(msg);
        return true;
    }
</script>

<div class="text-center">
    <h4>Assign-Asset</h4>
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="approve-progress visually-hidden">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
        <label>Please wait while Approving the Asset...</label>
    </div>

    <div class="reject-progress visually-hidden">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
        <label>Please wait while Rejecting the Asset...</label>
    </div>

    <div class="row">
        <table id="tblAssignAsset" class="table table-bordered table-primary animate__animated animate__zoomIn animate__delay-0.8s">
            <thead>
                <tr>
                    <th>RequestID</th>
                    <th>EmpID</th>
                    <th>EmpName</th>
                    <th>EmpTeam</th>
                    <th>AssetRequestTo?</th>
                    <th>AssetType</th>
                    <th>HW/SWName</th>
                    <th>RequestDate</th>
                    <th>Quantity</th>
                    <th>SerialNumber/VersionNumber</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="12">
                            No Matching Records Found
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.RequestID)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmployeeTeam)</td>
                            <td>@Html.DisplayFor(modelItem => item.Assetbelongsto)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssetType)</td>
                            <td>@Html.DisplayFor(modelItem => item.HWSWName)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssignDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                            <td>
                                <a id="btnApprove" class="button btn btn-success" onclick="return DisplayProgressMessageApproveAsset(this, 'Approving...');" href="@Url.Action("ApprovalAssignAsset", "AssignAsset", new { id = item.RequestID})">
                                    Approve
                                </a>
                            </td>
                            <td>
                                <a class="button btn btn-danger" onclick="return DisplayProgressMessageRejectAsset(this, 'Rejecting...');" href="@Url.Action("RejectAssignAsset", "AssignAsset", new { id = item.RequestID})">
                                    Reject
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</body>
</html>