@model I_RAY_ASSET_TRACKER_MVC.Models.Notifation


@Html.HiddenFor(m=>m.Sno)

<div class="row">
    <div class="col-md-3"></div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.Label("Name : ")
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.Label("Announcement : ")
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.Notification, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.Label("Date : ")
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Date, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
</div>