@model I_RAY_ASSET_TRACKER_MVC.Models.EmployeeList

@using PagedList.Mvc

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
}

<style>
    /* h4 {
        text-align: center;
        font-size: 2rem;
        padding-top: 3rem;
    }*/
    /*  Pagination for List of Assets User Details */

    /*.pagination {
        margin-block-start: revert;
        margin-left: 13rem;*/
    /*  margin-top: 1rem;*/
    /*}

    .pagination-container {
        margin: auto;
    }

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }*/

    tr {
        text-align: center;
    }

    #tblEmplyeeList {
        width: auto;
    }

        #tblEmplyeeList th {
            background-color: #ffc107;
        }

    #employeeListID {
        margin-left: 1px;
    }
</style>
<script>
    $(document).on('click', '.selectemployee', function (e) {
        e.preventDefault();
        var table = $('#tblEmplyeeList').DataTable();
        var data = table.row($(this).parents('tr')).data();
        $.ajax({
            url: "/EmployeeList/EmployeeUpdate", // Replace with your controller and action method
            data: {
                Id: data[1]
            },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#employeeUpdateModal").find(".modal-body").html(response);
                $("#employeeUpdateModal").modal('show');
            }
        });
    });

    /* debugger;*/
    $(function () {
        $(".btnsubmit").click(function () {
            /* debugger;*/
            var EmpID = $("#EmpID").val();
            var FirstName = $("#FirstName").val();
            var MiddleName = $("#MiddleName").val();
            var LastName = $("#LastName").val();
            var EmployeeName = $("#EmployeeName").val();
            var Team = $("#Team").val();
            var Role = $("#Role").val();
            var Mail = $("#Mail").val();
            var ContactNumber = $("#ContactNumber").val();

            $.ajax({
                type: "POST",
                url: "/EmployeeList/SaveEmployeeUpdate",
                data: {
                    EmpID: EmpID,
                    FirstName: FirstName,
                    MiddleName: MiddleName,
                    LastName: LastName,
                    EmployeeName: EmployeeName,
                    Team: Team,
                    Role: Role,
                    Mail: Mail,
                    ContactNumber: ContactNumber
                },
                success: function (data) {
                    alert("Employee Details Updated successfully!");
                    $(".btn-secondary").click();
                    window.location.reload();
                },
                failure: function (data) {
                    alert(response.responseText);
                },
                error: function (data) {
                    alert(response.responseText);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#tblEmplyeeList').DataTable({
        });
    });
</script>
<div class="pagetitle">
    <h1>Employee-List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Employee-List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div id="employeeListID" class="row">
    <table id="tblEmplyeeList" class="display compact table table-bordered table-primary">
        <thead>
            <tr>
                <th>Sno</th>
                <th>EmpID</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>EmployeeName</th>
                <th>Team</th>
                <th>Role</th>
                <th>Mail</th>
                <th>ContactNumber</th>
                <th>Select</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PagedListEmployee.Count == 0)
            {
                <tr>
                    <td colspan="9">
                        No Matching Records Found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.PagedListEmployee)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Sno)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmpID)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Team)</td>
                        <td>@Html.DisplayFor(modelItem => item.Role)</td>
                        <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                        <td>@Html.DisplayFor(modelItem => item.ContactNumber)</td>
                        <td>
                            <a class="selectemployee button btn btn-primary" data-toggle="modal" data-target="#employeeUpdateModal" href="javascript:void(0);">
                                Select
                            </a>
                        </td>
                        <td>
                            <a class="button btn btn-danger" href="javascript:void(0);">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="employeeUpdateModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="employeeUpdateModalLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title fs-5" id="employeeUpdateModalLable">Employee update details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btnsubmit btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>