@model I_RAY_ASSET_TRACKER_MVC.Models.LoginModelClass

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script type="text/javascript">
        alert("@ViewBag.ErrorMessage");
    </script>
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("EmployeeID :")
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "input" } })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Email :")
        </div>
    </div>
    <div class="col-md-6">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input" } })
    </div>
</div>