@model I_RAY_ASSET_TRACKER_MVC.Models.LoginModelClass

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<html>
<head>
    <meta charset="utf-8" />
    <title>I-Ray-AssetTracker-Login</title>
    <link href="~/Images/Icon/I-Ray-Logo.png" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />

    <style>
        body {
            background-image: url('../images/icon/background.png');
            background-size: cover; /* This scales the image to cover the entire background */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-attachment: fixed;
            background-position: center;
        }

        form {
            margin-top: 4rem;
        }
        button#btnEmpId {
            margin-top: 35px;
        }
        #RememberMeId{
            color:white;
        }
    </style>
    <script>
        window.onload = function () {
            var divToHide = document.getElementById('preloader');
            var Hide = document.getElementById('login-wrap');
            Hide.style.display = "none";
            setTimeout(function () {
                Hide.style.display = "block";
                divToHide.style.display = 'none';
            }, 8000);
        };
    </script>
</head>
<body>
    <div id="color">
        <div id="preloader" class="preloader"></div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="login-wrap" class="login-wrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="login-html animate__animated animate__zoomIn animate__delay-1s">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Register</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "inputlabel label" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "inputlabel label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="inputlabel check" checked>
                            <label id="RememberMeId" for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            @*<input type="submit" class="button glow-on-hover" value="Sign In">*@
                            <button class="glow-on-hover" name="submitButton" value="Login" type="submit">Sign In</button>
                        </div>
                        <div class="group">
                            <h3 class="text-danger text-center">@Html.ViewData["message"]</h3>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a id="forgotpasswordId" data-toggle="modal" data-target="#ForgotPasswordModal" href="javascript:void(0);">Forgot Password?</a>
                        </div>
                        <div class="logo">
                            <img src="~/Images/Icon/I-Ray-Logo.png" />
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "inputlabel label" })
                                    @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "input" } })
                                </div>
                                <div class="col-md-6">
                                    <button type="button" id="btnEmpId" class="btn btn-warning">click me</button>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "inputlabel label" })
                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @readonly = "readonly", @class = "input" } })
                        </div>
                        <div class="group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "inputlabel label" })
                            @Html.EditorFor(model => model.RegisterPassword, new { htmlAttributes = new { @class = "input" } })
                        </div>
                        <div class="group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "inputlabel label" })
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input" } })
                        </div>
                        <div class="group">
                            <input type="submit" id="btnRegisterId" name="submitButton" class="button" value="Register">
                        </div>
                        <div class="group">
                            <h4 class="text-danger text-center">@Html.ViewData["RegisterMessage"]</h4>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="ForgotPasswordModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-label="ForgotPasswordModalLable" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="pagetitle">
                        <h1>Forgot Password</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Login</a></li>
                                <li class="breadcrumb-item active">Forgot Password</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btnpasswordsubmit" type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        $(function () {
            $("#forgotpasswordId").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/UserLogin/forgotPassword",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#ForgotPasswordModal").find(".modal-body").html(response);
                        $("#ForgotPasswordModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $(function () {
            $("#btnpasswordsubmit").click(function () {
                var PasswordEmployeeID = $("#PasswordEmployeeID").val();
                if (PasswordEmployeeID == '') {
                    alert('Please Enter the EmployeeID.');
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/UserLogin/passwordSendtoMail",
                    data: {
                        PasswordEmployeeID: PasswordEmployeeID
                    },
                    success: function (response) {
                        alert(response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $(function () {
            $("#btnEmpId").click(function () {
                var newValue = $("#EmployeeID").val();
                if (newValue == '') {
                    alert('Please Enter the EmployeeID.');
                    return false;
                }
                $.ajax({
                    url: '/UserLogin/ChangeEmployeeID',
                    type: 'POST',
                    data: { newValue: newValue },
                    success: function (response) {
                        $("#Role").val(response);
                    },
                    error: function () {
                        // Handle errors
                    }
                });
            });
        });

        $(function () {
            $("#btnRegisterId").click(function () {
                var EmployeeID = $("#EmployeeID").val();
                var Role = $("#Role").val();
                var RegisterPassword = $("#RegisterPassword").val();
                var ConfirmPassword = $("#ConfirmPassword").val();
                if (EmployeeID == '') {
                    alert('Please Enter the EmployeeID.');
                    return false;
                }
                if (Role == '') {
                    alert('Please Enter the Role.');
                    return false;
                }
                if (RegisterPassword == '') {
                    alert('Please Enter the Password.');
                    return false;
                }
                if (ConfirmPassword == '') {
                    alert('Please Enter the ConfirmPassword.');
                    return false;
                }
                return true;
                this.submit();
            });
        });
    </script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
