@model I_RAY_ASSET_TRACKER_MVC.Models.LoginModelClass
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-wrap">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-html animate__animated animate__zoomIn animate__delay-1s">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "inputlabel label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "inputlabel label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="inputlabel check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="group">
                        <h3 class="text-danger text-center">@Html.ViewData["message"]</h3>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                    <div class="logo">
                        <img src="~/Images/Icon/I-Ray-Logo.png" />
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="inputlabel label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="inputlabel label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="inputlabel label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="inputlabel label">Email Address</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

