@model I_RAY_ASSET_TRACKER_MVC.Models.UserModel

@using PagedList.Mvc

@{
    ViewBag.Title = "AssetDeallocation";
    if (Session["Role"].ToString() == "AssetManager")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "User")
    {
        Layout = "~/Views/Shared/UserDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "Manager")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
    else if (Session["Role"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/AdminDashBoardLayout.cshtml";
    }
}

<style>
    /* h4 {
        font-size: 2rem;
    }*/

    .row {
        margin-top: 2rem;
    }

    #tblDeallocation th {
        background-color: #ffc107;
    }

    table#tblDeallocation {
        margin-left: 20px;
    }

   /* .pagination {
        margin-block-start: revert;
        margin-left: 13rem;
    }

    .pagination-container {
        margin: auto;
    }

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }*/
</style>

<script>
    $(document).ready(function () {
        $('#tblDeallocation').DataTable({
        });
    });

    $(document).on('click', '.Deallocation', function (e) {
        e.preventDefault();
        var table = $('#tblDeallocation').DataTable();
        var data = table.row($(this).parents('tr')).data();
        $.ajax({
            url: "/Deallocation/DeallocationRequest", // Replace with your controller and action method
            data: {
                EmployeeID: data[1],
                EmployeeName: data[2],
                Team: data[3],
                Assetbelongsto: data[4],
                AssetType: data[5],
                HWSWName: data[6],
                SerialNumberVersionNumber: data[7],
                InvoiceNo: data[8],
                AssignDate: data[9],
                ReturnDate: data[10]
            },
            success: function (response) {
                alert(response);
                window.location.href = '/Deallocation/Index';
            }
        });
    });

    //$(function () {
    //    $("#tblDeallocation .Deallocation").click(function () {
    //        var EmployeeID = $(this).closest("tr").find("td").eq(1).html();
    //        var EmployeeName = $(this).closest("tr").find("td").eq(2).html();
    //        var Team = $(this).closest("tr").find("td").eq(3).html();
    //        var Assetbelongsto = $(this).closest("tr").find("td").eq(4).html();
    //        var AssetType = $(this).closest("tr").find("td").eq(5).html();
    //        var HWSWName = $(this).closest("tr").find("td").eq(6).html();
    //        var SerialNumberVersionNumber = $(this).closest("tr").find("td").eq(7).html();
    //        var InvoiceNo = $(this).closest("tr").find("td").eq(8).html();
    //        var AssignDate = $(this).closest("tr").find("td").eq(9).html();
    //        var ReturnDate = $(this).closest("tr").find("td").eq(10).html();
    //        $.ajax({
    //            type: "POST",
    //            url: "/Deallocation/DeallocationRequest",
    //            data: {
    //                EmployeeID: EmployeeID,
    //                EmployeeName: EmployeeName,
    //                Team: Team,
    //                Assetbelongsto: Assetbelongsto,
    //                AssetType: AssetType,
    //                HWSWName: HWSWName,
    //                SerialNumberVersionNumber: SerialNumberVersionNumber,
    //                InvoiceNo: InvoiceNo,
    //                AssignDate: AssignDate,
    //                ReturnDate: ReturnDate
    //            },
    //            success: function (response) {
    //                alert("The deallocate request was successfully sent..");
    //                window.location.href = '/Deallocation/Index';
    //            },
    //            failure: function (response) {
    //                alert(response.responseText);
    //            },
    //            error: function (response) {
    //                alert(response.responseText);
    //            }
    //        });
    //    });
    //});

</script>

<div class="pagetitle">
    <h1>Deallocation</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Deallocation</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="row">
    <table id="tblDeallocation" class="display compact table table-bordered table-primary">
        <thead>
            <tr>
                <th>AssignID</th>
                <th>EmpID</th>
                <th>EmployeeName</th>
                <th>Team</th>
                <th>AssetBelongsTo</th>
                <th>AssetType</th>
                <th>HWSWName</th>
                <th>SerialNumber</th>
                <th>InvoiceNo</th>
                <th>AssignDate</th>
                <th>ReturnDate</th>
                <th>Deallocate</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Table1Data.Count == 0)
            {
                <tr>
                    <td colspan="11">
                        No Matching Records Found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Table1Data)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.AssignID)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmpID)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Team)</td>
                        <td>@Html.DisplayFor(modelItem => item.Assetbelongsto)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssetType)</td>
                        <td>@Html.DisplayFor(modelItem => item.HWSWName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SerialNumberVersionNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.InvoiceNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssignDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpectedReturnDate)</td>
                        <td>
                            <a class="Deallocation button btn btn-primary" href="javascript:void(0);">
                                <i class="fa fa-reply" aria-hidden="true">Deallocation</i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<div class="pagination">
    Page @(Model.Table1Data.PageCount < Model.Table1Data.PageNumber ? 0 : Model.Table1Data.PageNumber)
    of @Model.Table1Data.PageCount @Html.PagedListPager(Model.Table1Data, page => Url.Action("Index", new { page }))
</div>*@