@model I_RAY_ASSET_TRACKER_MVC.Models.AuditReviewList

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("AssignID : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.AssignID, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("EmpID : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EmpID, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("EmployeeName : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EmployeeName, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("Team : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Team, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("Assetbelongsto : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Assetbelongsto, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("AssetType : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.AssetType, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("HWSWName : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.HWSWName, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("SerialNumber : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.SerialNumberVersionNumber, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("AssignDate : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.AssignDate, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("ExpectedReturnDate : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.ExpectedReturnDate, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("AssetImage : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.AssetImage, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("Photo : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Photo, new { type = "file", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("ReviewedBy : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.ReviewedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.Label("Remarks : ")
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
